html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */

  font-size: small;
  line-height: 1;
}

#topWindow {

  height: 400px;
}

#bottomWindow {

  height: 200px;
  overflow: scroll;
  /* overflow-x: hidden; */
}

#clip-container {
  /* min-width: 100px; */  
}


#pads-container {
  /* min-width: 100px; */ 
  width: 200px; 
}


#channels-container {
  /* min-width: 100px; */ 
  width: 500px; 
}

.channel {
  /* min-width: 100px; */
}

.channels-container {

  /*
  height: 400px;
*/
}

.steps-container {

  /*
  height: 400px;
*/
}

.steps-title {

  width: 100px;
}










/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }






/*modif philippe sur les checkbox*/
input[type="checkbox"]{
    -webkit-appearance: push-button;
    background:#444;
    border: solid 1px #FFFFFF;
    /border-style: hidden;
    margin:1px;
    width:24px;
    height:24px;
    
}

input[type="checkbox"]{
    content:" ";
    width:24px;
    height:24px;
    background-color:#444;
    /border-radius:12px;
}
input[type="checkbox"]:checked {
    -webkit-appearance: push-button;
    content:" " !important;
    background:limegreen;
    /background-color:#FFF;
}